<div class="col-md-8 col-md-offset-2">
  <h1><%= @recipe.name %></h1>
  <h2><%= @recipe.user.email %></h2>
  <p><%= @recipe.ingredient %></p>
  <p><%= @recipe.image_url %></p>
  <%= image_tag @recipe.image_url %>
</div>